#career-outer-section{
    .container-fluid {
        padding: 0; 
        margin: 0; 
        width: 100%;
       min-height: 500px;
      }
      
      .video-career {
        width: 100%;
        overflow: hidden;
        background-color: #f1f7fa; 
      }
      
      .custom-video-career {
        width: 100%;
        height: 600px; 
        object-fit: cover; 
        display: block; 
      }
@media (max-width:600px){
    .custom-video-career {
        width: 100%;
        height: 300px; 
        object-fit: cover; 
        display: block; 
      }
}
.tab-active {
  color: black; 
  border-bottom: 2px solid white; /* Add an underline */
}




.container p-3 {
    background-color: #f5f5f5;
    padding: 50px 0;
    border-radius: 15px;
}

h1.text-center.mb-5 {
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
}

.custom-card-new {
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.custom-card-new:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.custom-card-body-new {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.custom-card-title-new {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #333;
    font-weight: bold;
}

.custom-card-text-new {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    color: #666;
}

.custom-card-text-new strong {

    font-size: 0.9rem;
}

.custom-btn-primary-new {
    background-color: #e0a800;  
    color: #fff;
    border-radius: 5px;
    padding: 8px 20px;
    font-size: 1rem;
    transition: background-color 0.2s ease, border-color 0.2s ease;

}

.custom-btn-primary-new:hover {
  background-color: #cf9c00;
}

}


.card-hover {
    overflow: hidden;
    position: relative;
  }
  
  .card-hover .card-img-wrapper {
    position: relative;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .card-hover .card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .card-hover .card-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.6); /* Dark overlay */
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  .card-hover:hover .card-img {
    transform: scale(1.05); /* Zoom in effect */
    opacity: 0.8; /* Slightly darken the image */
  }
  
  .card-hover:hover .card-img-overlay {
    opacity: 1;
    transform: translateY(0); /* Bring the content fully into view */
  }
  
  .card-title {
    font-size: 1.25rem;
    // margin-bottom: 1rem;
    color: white;
    text-align: start;
  }
  
  .text-justify {
    text-align: justify;
  }
  