

.flight-detail-depart{
    width: 100%;
    height: 50px;
    line-height: 50px;
    /* background: linear-gradient(167deg, #99daa8 0%, #99daa8); */
    background: #9b4bfd3d;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 13px 26px;
}
.depart-text{
    background-color: #646262;
    padding: 3px 10px;
    float: left;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    border-radius: 0px 0px 14px 0;
}
.duration-border{
    border-bottom: 2px dotted #a2a0a0;
}
.depart-detail-card{
  margin: 10px;
  border: 1px solid #dad6d6;
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}
.flight-detail-background-card{
    border: 1px solid #b8d0e5;
  background: #ffffff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 6px rgb(64 64 64 / 25%);
  -moz-box-shadow: 0 0 6px rgb(64 64 64 / 25%);
  box-shadow: 0 0 6px rgb(64 64 64 / 25%);
}
.text-muted{
  font-size: small;
}
.price-table{
  background: linear-gradient(167deg, #86ddec 0%, #86ddec);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.scroll-grid{
  max-width: 100%;
  max-height: 150px;
}

